<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  <link rel="stylesheet" href="./public/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Piano</title>
</head>

<body>

  <div id="menu">
    <button id="bar" class="btn setting-btn" data-toggle="collapse" aria-expanded="false" data-target="#content"
      aria-controls="content" class="">
      <i class="fas fa-cog text-white"></i>
    </button>
    <div id="content" class="collapse">
      <form class="pl-2" action="/update" method="post" enctype="multipart/form-data">

        <div class="row mr-0">
          <div class="col-3">
            <select class="custom-select" name="slot" id="song-slot-input" required>
              <option disabled selected value="">Choix...</option>
              <% for(let i=0; i<sounds.length; i++) {%>
              <option value="<%= i+1 %>"><%= i+1 %></option>
              <% } %>
            </select>

          </div>

          <div class="col-7">
            <input type="file" class="" name="file1" id="file-input" required>
          </div>
        </div>

        <div class="text-right pb-2 pr-2">
          <button class="btn btn-success" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>


  <section class="app text-white">

    <header>
      <h1>Piano</h1>
      <!-- <p>Create sounds with just one tap</p> -->
    </header>
    <div class="visual"></div>
    <div class="container">
      <div class="row text-center">
      <div class="col-lg-4">
        <button class="btn-warning mb-2 btn col-4" id="record">Enregistrer</button>
      </div>
      <div class="col-lg-4">
        <button class="btn-danger mb-2 btn d-none col-4" id="stop">Arreter</button>
      </div>
      <div class="col-lg-4">
        <button class="btn-success mb-2 btn d-none col-4" id="play">Lire</button>
      </div>

    </div>
    </div>

    <div class="container">
      <div id="envelope" class="row"><div class="col-12">Envelope :</div> 
  
          <div class="col-md-3">
            <div class="form-group">
              Attack :
              <input class="form-control sliderSettings" min="0.01" value="0.01" step="0.01" max="2" type="range" id="attack-input">
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="form-group">
              Decay :
              <input class="form-control sliderSettings custom-slider" min="0.01" value="1.6" step="0.01" max="20" type="range" id="decay-input">
            </div>
  
          </div>
  
          <div class="col-md-3">
            <div class="form-group">
              Sustain :
              <input class="form-control sliderSettings" min="0" value="0" step="0.01" max="1" type="range" id="sustain-input">
            </div>
  
          </div>
  
          <div class="col-md-3">
            <div class="form-group">
              Release :
              <input class="form-control sliderSettings" min="0" value="1.6" step="0.01" max="200" type="range" id="release-input">
            </div>
  
          </div>
  
          
      </div>
      <div id="oscillator" class="row"> <div class="col-12">Oscillator :</div> 
        <div class="col-md-3">
          <div class="form-group">
            Count :
            <input class="form-control sliderSettings" min="1" value="1.6" step="0.01" max="10" type="range" id="count-input">
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="form-group">
            Spread :
            <input class="form-control sliderSettings" min="0" value="40" step="0.01" max="20000" type="range" id="spread-input">
          </div>
        </div>
  
      </div>

    </div>












      

      <ul class="piano d-none d-md-block text-secondary text-center">
        <li class="white C">Do</li>
        <li class="black CS"></li>
        <li class="white D">Ré</li>
        <li class="black DS"></li>
        <li class="white E">Mi</li>
        <li class="black ES"></li>
        <li class="white F">Fa</li>
        <li class="white G">Sol</li>
        <li class="black GS"></li>
        <li class="white A">La</li>
        <li class="black AS"></li>
        <li class="white B">Si</li>
      </ul>
    </div>
    
    <div class="pads d-md-none">
      <% let shortcuts = ["a","z","e","r","t","y","u"] %>
      <% notes = ["do","re","mi","fa","sol","la","si"] %>
      <% for(let sound of notes) {%>
      <div class="pad<%=i++%> d-flex justify-content-center flex-column align-items-center">
        <!-- <audio src="../public/sounds/<%=sound.nom%>" class="sound"></audio> -->
        <p class="small"><%= sound %></p>
        <p class="font-weight-bold h"><%= shortcuts[i-2] %></p>
        
      </div>
      <%}%>

    </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="./public/tone.js"></script>
    <script src="./public/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  </body>
</html>